---
import Script from "../components/Script.astro";
import Timeline from "../components/Timeline.astro";
import Layout from "../layouts/Layout.astro";
title: "Experiencia";
date: "2023-11-05";
author: "Rocío Marivel Díaz Zavala";
---

<Layout title="Experiencia">
  <section>
    <!-- Title -->
    <div class="flex items-center my-8">
      <h1 class="text-3xl tracking-widest font-extrabold text-dark-grey-900">
        EXPERIENCIA
      </h1>
      <div class="h-0.5 w-full ml-8 bg-violet-300"></div>
    </div>
    <!-- /Title -->

    <Timeline />
  </section>
</Layout>
