<div class="flex justify-between py-4">
  <div class="hidden sm:block">
    <span class="text-sm text-neutral-700"
      >Todos los derechos reservados © 2023.</span
    >
  </div>
  <div class="flex gap-x-5 justify-center w-full sm:w-auto">
    <a
      href=""
      class="text-lg hover:cursor-pointer hover:text-[#1da1f2] text-neutral-700
      transition-transform duration-500 hover:scale-105"
      ><i class="bi bi-twitter"></i></a
    >
    <a
      href=""
      class="text-lg hover:cursor-pointer hover:text-[#0866ff] text-neutral-700
      transition-transform duration-500 hover:scale-105"
      ><i class="bi bi-facebook"></i></a
    >
    <a
      href=""
      class="text-lg hover:cursor-pointer hover:text-[#0a66c2] text-neutral-700
      transition-transform duration-500 hover:scale-105"
      ><i class="bi bi-linkedin"></i></a
    >
  </div>
</div>
