---
import TimelineItem from "./TimelineItem.astro";
title: "Rocío Marivel Díaz Zavala";
date: "2023-11-05";
author: "Rocío Marivel Díaz Zavala";
---

<h2 class="font-bold my-3">Académica</h2>
<div class="sm:px-6 flex flex-col gap-10 mb-16">
  <ul class="list-none">
    <TimelineItem
      title="ETS PNP Charcani Arequipa Docente Contratada."
      subtitle="Tiempo Parcial"
      date="2008 - 2014"
    />
    <TimelineItem
      title="UAP Filial Arequipa Docente Contratada UNSA."
      subtitle="Tiempo Parcial"
      date="2014 - 2016"
    />
    <TimelineItem
      title="Docente Auxiliar Contratada."
      subtitle="Tiempo Completo"
      date="2017 - 2021"
    />
    <TimelineItem
      title="Docente Auxiliar Nombrada."
      subtitle="Tiempo Completo"
      date="2022"
    />
  </ul>
</div>

<h2 class="font-semibold text-gray-950 my-3">Profesional</h2>
<div class="sm:px-6 flex flex-col gap-10">
  <ul class="list-none">
    <TimelineItem
      title="ETS PNP Charcani Arequipa Docente Contratada."
      subtitle="Tiempo Parcial"
      date="2008-2014"
    />
    <TimelineItem
      title="UAP Filial Arequipa Docente Contratada."
      subtitle="Tiempo Parcial"
      date="2014 - 2016"
    />
    <TimelineItem
      title="UNSA Docente Auxiliar Contratada. Facultad de Ciencias de la Educación."
      subtitle="Tiempo Completo"
      date="2017 - 2021"
    />
    <TimelineItem
      title="Unidad de Posgrado de la Facultad de Enfermería."
      subtitle="Dictando la asignatura de Educación y Salud"
      date="2018"
    />
    <TimelineItem
      title="Unidad de Posgrado de la Facultad de Enfermería."
      subtitle="Dictando la asignatura de Enseñanza en enfermería"
      date="2018 - 2019"
    />
    <TimelineItem
      title="Unidad de Posgrado de la Facultad de Ciencias de la Educación "
      subtitle="Dictando la asignatura de Enfoques de la Educación"
      date="2019 - 2020"
    />
    <TimelineItem
      title="Unidad de Posgrado de la Facultad de Ciencias de la Educación."
      subtitle="Dictando la asignatura de Ciencias de la Educación "
      date="2021"
    />
    <TimelineItem
      title="Unidad de Posgrado de la Facultad de Ciencias de la Educación."
      subtitle="Dictando la asignatura de Liderazgo Pedagógico y Desarrollo personal en la Escuela"
      date="2021"
    />
    <TimelineItem
      title="Unidad de Posgrado de la Facultad de Ciencias de la Educación."
      subtitle="Dictando la asignatura de Seminario de Tesis III"
      date="2022"
    />
  </ul>
</div>
